.btn {
  text-decoration: none;
  border-right-color: #333;
  border-bottom-color: #333;
  margin: 4px;
  cursor: pointer;
  color: #000;
}

.btn-confirm {
  background-color: @btn-confirm-color;
  .btn-small();
}

.btn-decline {
  background-color: @btn-decline-color;
  .btn-small();
}

.btn-small {
  font: bold 11px Arial;
  padding: 2px 6px 2px 6px;
  border: 1px solid #CCC;
  .btn();
}

.btn-medium {
  font: bold 16px Arial;
  padding: 4px 9px 4px 9px;
  border: 2px solid #CCC;
  .btn();
}

.btn-common {
  border-right-color: #333;
  border-bottom-color: #333;
  border-left-color: #CCC;
  border-top-color: #CCC;
  font: bold 16px Arial;
  margin: 4px;
  cursor: pointer;
  color: #000;
}

.btn-plus {
  background-color: @btn-confirm-color;
  .btn-common();
}

.btn-minus {
  background-color: @btn-decline-color;
  .btn-common();
  margin-right: 20px;
}