table{
  width: 100%;
}

table.cenetered-70{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

table.cenetered-80{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

table.cenetered-90{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

th.styled-blue{
  background-color: @th-bg;
}

tr.styled-blue{
  background-color: @tr-bg;
}

td.quarter{
  width:25%;
}

td.third{
  width: 33%;
}

td.half{
  width: 50%;
}

td.two-thirds{
  width:67%;
}

td.three-fourths{
  width: 75%;
}

td.full{
  width: 100%;
}