table{
  width: 100%;
}

table.data-table{
  background-color: @table-bg;
}

th{
  background-color: @th-bg;
}

tr{
  background-color: @tr-bg;
}

td.quarter{
  width:25%;
}

td.third{
  width: 33%;
}

td.half{
  width: 50%;
}

td.two-thirds{
  width:67%;
}

td.three-fourths{
  width: 75%;
}

td.full{
  width: 100%;
}